/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* End of Eric Meyer's CSS Reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    background-color: black;
    width: 100%;
}

/* Middle
-----------------------------------------------------------------------------*/

.content {
    background-color: white;
}

#banner {
    position: absolute;
    top: 200px;
    font-size: 7rem;
    left: 23%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.collapse {
    background-color: lightgrey;
    opacity: 0.7;
    filter: Alpha(opacity=50);
    border: 4px;
    border-radius: 10px;
    width: 300px;
    padding-left: 3px;
}
#knap{
    margin-left: 110px;
}

.material-icons {
    font-size: 5px;

}

#bigbox{
    display: flex;
    flex-direction: row; 
    
    
}
#textbox{
    flex: 1;
}
#billedebox{
flex: 1; 
}
