/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
/*section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* End of Eric Meyer's CSS Reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Middle
-----------------------------------------------------------------------------*/

.content {
    background-color: white;
}
#logo{
    position: absolute;
    height: 20%;
    width: 13%;
    left:43%;
    top: 2%;
}

#banner {
    position: absolute;
    top: 33%;
    font-size: 7rem;
    left: 23%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.collapse {
    position: absolute;
    left: 14%;
    top: 157%;
    background-color: lightgrey;
    opacity: 0.9;
    filter: Alpha(opacity=50);
    border: 4px;
    border-radius: 10px;
    width: 380px;
    padding-left: 3px;
    z-index: 2;
}
#knap{
position: absolute;
    left: 25%;
    top: 150%;
    z-index: 2;
}

#knaptekst2{
    z-index: 2;
}
.material-icons {
    font-size: 5px;

}

.bigbox{
    display: flex;
    flex-direction: row; 
    
    
}
.textbox{
     font-family: 'Josefin Sans', sans-serif;
    
}
#tekst2{
font-size: 16px; 
    z-index: 2;
}
}
#billedebox2{
    z-index: 1;
    flex: 1;
}

#tekst3{
    position: absolute;
    font-size: 16px;
    z-index: 2;
    left: 60%;
    top: 280%;
    background-color: lightgrey;
    opacity: 0.9;
    filter: Alpha(opacity=50);
    border: 4px;
    border-radius: 10px;
    width: 300px;
    padding-left: 3px;
}
#tekst4{
    position: absolute;
    right: 75%;
    top: 400%;
    font-size: 16px;
    z-index: 2;
    width: 300px;
}
#billedebox4{
 /*padding-right: 20%;*/
  
    
}

#billedebox5{
    
}
billedebox6{
    z-index: 1;
    display: block;
}

#tekst6{
    position: absolute;
    right: 25%;
    top: 620%;
    left: 60%;
    z-index: 2;
    background-color: lightgray;
    opacity: 0.9;
    filter: Alpha(opacity=50);
    border: 4px;
    border-radius: 10px;
    padding-left: 3px;   
}

#slide8head{
    font-size: 12rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#venstre{
    flex: 1;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 20px;
}
#højre{
    flex: 1;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 20px;
}

#finalbanner{
    text-align: center;
    position: absolute;
    top: 775%;
    font-size: 7rem;
    left: 43%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#finallogo{
    position: absolute;
    height: 20%;
    width: 13%;
    top: 823%;
    left: 84%;
}